/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Lato&display=swap");

/* Setting CSS Variables */

:root {
  --lightTeal: #e3f4f3;
  --neon: #cfff31;
  --darkerNeon: #add330;
  --blue: #6056f9;
  --black: #2c2c2c;
}

/* Normalize CSS */

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  position: relative;
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

/* Additional reset */

* {
  margin: 0;
  padding: 0;
}

html {
  padding: 0 auto;
  margin: 0 auto;
  font-size: 125%;
  line-height: 1.15;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: var(--black);
  background: var(--lightTeal);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.startButton,
button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 2rem 0.5rem;
  color: var(--blue);
  border-radius: 1.25rem;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: all 200ms ease;
}

.startButton:hover,
.startButton:focus,
button:hover,
button:focus {
  background: var(--neon);
  text-decoration: none;
}

.startButton:focus,
button:focus {
  outline: 2px solid #fff;
  outline-offset: -2px;
}

.startButton:active,
button:active {
  outline: none;
  background: var(--darkerNeon);
}

footer {
  display: grid;
  width: 100%;
  margin-top: auto;
}

footer p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2rem;
  z-index: 1;
  color: #fff;
}

/* =======
Server Down
========= */

.serverDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  height: 200px;
}
h2.serverDownHeader {
  margin-bottom: 1rem;
}
.serverDown p {
  margin: 0;
}

/* Title */

header {
  background: white;
  width: 100%;
  padding-bottom: 20px;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 20px;
  width: 100%;
  left: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg)
    bottom;
  background-size: 200%;
}

h1 {
  padding: 2rem;
  font-family: "Josefin Slab", sans-serif;
  font-size: 5rem;
  background-color: var(--blue);
  color: var(--neon);
}

h1 span {
  display: inline-block;
  background-color: var(--neon);
  color: var(--blue);
  border: 4px solid black;
  padding: 25px 10px 25px 10px;
  border-radius: 25px;
  line-height: 3.5rem;
  height: 2.5rem;
}

/* Homescreen */
.welcome {
  margin: 15px 26% 30px 26%;
}

.play {
  margin: 30px 0;
}

.signature {
  padding-left: 10px;
}

/* Progress Bar */

footer p,
.rc-progress-line {
  grid-column: 1;
  grid-row: 1;
}

.rc-progress-line {
  width: 100%;
  z-index: 0;
}

/* answer message and score */
.answerContainer {
  padding: 4.5%;
}

.answer {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--blue);
}

.wrong {
  color: red;
}

.score {
  margin-top: 45px;
}

.score span {
  color: var(--blue);
}

/* Endgame animation -- inspired by Michael, @baumicon on Codepen */

h3 {
  font-size: 3rem;
  margin-top: 1rem;
  line-height: 1.7;
  width: 400px;
}

.outer {
  width: 500px;
  position: relative;
  /* height: 600px; */
  /* top: 26%; */
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/107366/img_fireworks-frames-white.png")
    no-repeat top left;
  opacity: 0;
}

.inner {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/107366/img_fireworks-frames-white.png")
    no-repeat top left;
  opacity: 0;
}
.animation {
  opacity: 1;
  animation: pop 1s steps(22, end) 0s 5;
  animation-iteration-count: infinite;
}
@keyframes pop {
  0% {
    opacity: 1;
    background-position: 0 0;
    transform: translate(-50%, -50%);
    color: var(--neon);
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    background-position: -3150px 0;
    transform: translate(-50%, -50%);
  }
}

/* Form Styling */
form {
  border: 2px solid var(--darkerNeon);
  border-radius: 1rem;
  margin: 0 10rem;
  padding: 1rem;
  position: relative;
}

form input[type="text"] {
  background: none;
  border: 2px solid var(--darkerNeon);
  border-radius: 1rem;
  height: 2rem;
}

form label {
  position: absolute;
  left: 40%;
  top: 1.3rem;
  color: var(--blue);
  padding: 0 .25rem;
  transition: all 0.5s ease;
}

form input[type="text"]:focus ~ label {
  color: var(--darkerNeon);
  top: 0.3rem;
  font-size: 1rem;
  background-color: var(--lightTeal);
}

form p {
  margin: 1rem 0;
}

form button {
  margin: 0;
}
/* Leaderboard Styling */

.userScoreList {
  margin: 2rem 10rem;
  border: 2px solid var(--darkerNeon);
  border-radius: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 31rem;
}

.ulHeadings,
.userScoreList li {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: 1rem;
}

.ulHeadings {
  color: var(--blue);
  text-transform: uppercase;
}

.playersHeading {
  width: 33%;
  text-align: left;
}

.userScoreList li {
  background-color: #6056f9;
  border-radius: 1rem;
}

.userScoreList li p {
  margin-bottom: 0;
  padding: .5rem 0;
  word-wrap: break-word;
}

.userNameTag {
  width: 33%;
  color: var(--lightTeal);
  text-transform: uppercase;
  text-align: left;
}

.userScoreTag {
  color: var(--neon);
}

.delete {
  margin: 0;
  padding: 0.5rem 1rem;
  align-self: center;
}

@media (max-width: 1334px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
  }

  footer p {
    top: 0;
    left: 0;
    transform: translate(0);
    color: var(--blue);
    background-color: #E3F4F3;
  }

  .rc-progress-line {
    z-index: 1;
  }

  .userScoreList {
    margin: 2rem 5rem;
  }
}

@media (max-width: 855px) {

  main {
    height: 20rem;
  }

  form {
    margin: 0;
  }

  form label {
    left: 37%;
    top: 1.4rem;
  }

  main {
    padding: 5% 0;
  }

  .userScoreList {
    margin: 2rem 0;
  }

  /* =====
  animation
  ======== */

  .outer {
    top: 41%;
  }
}

@media (max-width: 580px) {
  h1 {
    font-size: 4rem;
  }
  .userScoreList li {
    flex-direction: column;
    padding: 1rem;
  }

  .userScoreList li p,
  .delete {
    margin: .5rem 0;
  }

  .userNameTag {
    width: 100%;
    text-align: center;
  }

  .playersHeading,
  .deleteHeading {
    display: none;
  }

  .scoreHeading {
    margin: 0 auto;
  }

  main {
    padding: 5% 0;
  }
}
@media (max-width: 414px) {
  h1 {
    font-size: 3rem;
  }

  form label {
    left: 39%;
  }

  button {
    margin: 1rem 2rem;
  }

  main {
    padding: 3rem 0;
  }

  .wrapper button:nth-of-type(2) {
    margin-bottom: 3rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}